<!DOCTYPE html>
<html>
<head>
    <title>Apply Job</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'apply.css' %}">
</head>

<body>

<div class="wrapper">

    <div class="card">

        <h2>Apply for {{ job.title }}</h2>
        <p class="sub">Upload your resume and apply for this job</p>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label>Upload Resume</label>
            <input type="file" name="resume" required>

            <button type="submit">Apply Now</button>
        </form>

    </div>

</div>

</body>
</html>